@charset "UTF-8";

:root {
  --color1: #000000;
  --color2: #ffffff;
  --color3: #24ff00;
  --color4: #272727;
  --color5: #1d1d1d;
  --color6: #404e3e;
  --color7: #c2c2c2;
  --color8: #000000f7;

  --font-flashy: "Sixtyfour", sans-serif;
  --font-default: "PT Mono", monospace;
}

/* General Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Soundtrack Option Style */

#soundtrack-option {
  opacity: 1;
  transition: 1s;
  background-color: var(--color1);
  width: 100vw;
  height: 100dvh;
  padding-inline: 1rem;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 4rem;
}

#soundtrack-option p {
  font-family: var(--font-default);
  font-size: 1.5rem;
  color: var(--color2);
  text-align: center;
}

#soundtrack-option div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 1rem;
}

#soundtrack-option button {
  font-family: var(--font-default);
  font-size: 1.3rem;
  background-color: var(--color1);
  color: var(--color3);
  border: 1px solid var(--color3);
  border-radius: 10px;
  padding: 1rem 3rem;
}

#soundtrack-option button:hover {
  text-decoration: underline;
}

/* === Home Style === */

body {
  background-color: #000000;
}

header {
  height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#game-title {
  color: var(--color2);
  font-family: var(--font-flashy);
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.3rem;
  line-height: 5rem;

  font-size: 2.4rem;
}

@media screen and (min-width: 440px) {
  #game-title {
    font-size: 3.2rem;
    line-height: 5rem;
  }
}

@media screen and (min-width: 550px) {
  #game-title {
    font-size: 4.4rem;
    line-height: 7rem;
  }
}

@media screen and (min-width: 860px) {
  #game-title {
    font-size: 5.5rem;
    line-height: 9rem;
    letter-spacing: -0.6rem;
  }
}

#game-title span {
  display: block;
  color: var(--color3);
}

#menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu li {
  width: fit-content;
}

.link-menu {
  margin-bottom: 1rem;
  font-size: 2.1875rem;
  background-color: var(--color1);
  color: var(--color2);
  border: none;
  font-family: var(--font-default);
  pointer-events: none;

  opacity: 0;
  transition: 0.5s;
}

.link-menu:hover {
  color: var(--color7);
}

/* === Credits Style === */

#credits {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;

  background-color: var(--color8);
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100dvh;

  font-family: var(--font-default);
  color: var(--color2);
}

#credits div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
}

#credits div h1 {
  font-size: 1.7rem;
}

.back-button {
  border: none;
  background-color: var(--color8);
  transition: 0.3s;
}

.back-button svg {
  fill: var(--color3);
  width: 2.7rem;
  height: 2.7rem;
}

.back-button:hover {
  transform: translateX(-10px);
}

#credits p {
  font-size: 1.5rem;
  width: 90vw;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;
}

#credits p a {
  color: var(--color3);
}

#credits p a:hover {
  text-decoration: none;
}

#credits #luiz-img {
  width: 280px;
  height: 378px;
  background-image: url(imgs/img-luiz/img-luiz-small.png);

  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 992px) {
  #credits div h1 {
    font-size: 2rem;
  }

  #credits #luiz-img {
    width: 600px;
    height: 600px;
    background-image: url(imgs/img-luiz/img-luiz-large.png);

    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
  }
}

/* === License Style === */

#license {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;

  font-family: var(--font-default);
  background-color: var(--color8);
  color: var(--color2);

  position: absolute;
  top: 0;
  height: 100dvh;
  width: 100vw;
}

#container-menu-license {
  display: flex;
  height: 6rem;
  justify-content: space-around;
  align-items: center;
}

#container-content-license {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify;

  width: 90vw;
  max-width: 50rem;
  font-size: 0.8rem;
  line-height: 1.15rem;
}

#container-content-license h2 {
  font-size: 1rem;
}

@media screen and (min-width: 440px) {
  #container-content-license {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 880px) {
  #container-content-license {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

#container-content-license ol {
  padding: 1.5rem;
}

/* === Game Style === */

#game-content {
  visibility: hidden;
  background-color: var(--color1);
  font-family: var(--font-default);
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100dvh;
}

#game-content p {
  font-size: 1.25rem;
  text-align: center;
  color: var(--color2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -400%);
}

#game-content svg {
  width: 2.5rem;
  fill: var(--color3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
